<img class="img-indent" alt="" src="images/1page-img2.jpg">
<h4>Make Decisions On Time<br></h4>
<p class="p1">Vestibulum sed ante donec sagittis euismod purus lobortis dignis. <a href="#">Read more</a></p>